* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    line-height: 1.5;
    font-size: var(--font-size-base);
}

.main-layout {
    display: grid;
    grid-template-columns: var(--layout-padding) 1fr var(--layout-padding);
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout .full {
    grid-column: 1/ -1;
}

a,
button {
    display: grid;
    place-content: center;
    place-items: center;
    padding: var(--space-sm) var(--space-md);

    text-decoration: none;
    background-color: var(--button-bg);
    color: var(--primary-text);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a:hover,
button:hover {
    background-color: var(--button-hover-bg);
}

input, select {
    background-color: var(--input-bg);
    color: var(--input-text-color);
    border: 1px solid var(--secondary-text);
    padding: var(--space-sm) var(--space-md);
    border-radius: 6px;
}

input:focus, select:focus {
    border-color: var(--accent-color);
    outline: none;
}

ul {
    list-style: none;
}

section {
    margin: var(--space-lg) 0;
}

img {
    cursor: pointer;
}