.meme-editor {
    visibility: hidden;
    display: grid;
    grid-template-columns: 20fr 1fr auto;
    /* grid-auto-flow: column; */
    gap: var(--space-md);
    place-content: center;
    position: fixed;
    inset: 15vh 3vw;
    background-color: var(--secondary-bg);
    border-radius: 8px;
    max-width: 1000px;
    margin: auto;
}

canvas {
    border: 2px solid var(--secondary-text);
    border-radius: 8px;
    width: 100%;
}

.canvas-container {
    width: 100%;
    height: auto;
}

.text-editor {
    background-color: var(--primary-bg);
    padding: 0 var(--space-md);
    margin: 1px;
    border-radius: 8px;
}

.stickers button {
    font-size: .75em;
}