header {
    background-color: var(--secondary-bg);
    padding: var(--space-md);
}

header h1 {
    color: var(--accent-color);
}

nav {
    display: flex;
    gap: var(--space-md);
}

nav button {
    color: var(--primary-text);
    border-radius: 4px;
    padding: var(--space-sm) var(--space-md);
    font-size: var(--font-size-large);
}

nav .dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary-bg);
    width: 100%;
    margin-top: var(--space-sm);
    gap: var(--space-md);
}

nav .dropdown-menu.open {
    display: flex;
}

nav .dropdown-btn {
    font-size: var(--font-size-large);
    color: var(--primary-text);
    border-radius: 4px;
    padding: var(--space-sm) var(--space-md);
    cursor: pointer;
}