@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    nav {
        position: relative;
        flex-direction: column;
        gap: var(--space-sm);
    }

    nav .dropdown-menu {
        display: none;
    }

    nav .dropdown-btn {
        display: block;
    }

    .find {
        grid-template-columns: 1fr;
    }

    .meme-editor {
        grid-auto-flow: column;
    }
}

@media (max-width: 480px) {
    nav {
        display: none;
    }

    nav.dropdown {
        display: block;
    }

    .find {
        grid-template-columns: 1fr;
    }

    .memes-gallery {
        grid-template-columns: 1fr;
    }
}